@import "tailwindcss";

header {
    /* box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.493); */
    z-index: 9999;
    background: #2e2b2bb2;
    backdrop-filter: blur(23px);
}

.box {
    height: 100vh;
    /* height: 100vh; */
    /* background: linear-gradient(rgb(29, 37, 53) , rgb(5, 5, 66), rgb(14, 14, 14)); */
    /* background: linear-gradient(rgb(0, 0, 0) , rgb(5, 5, 66), rgb(18, 56, 82)); */
}

.bgImg {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?...'); */
    background-size: cover;
    /* background-position: center; */
    transition: background-image 0.4s ease-in-out;
    filter: grayscale(50%) blur(4px);
    z-index: -1;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    .bgImg {
        background-size: cover;
    }
}

.sun {
    /* animation: floatingSun;
    animation-iteration-count: infinite;
    animation-duration: 2s; */
    animation: floatingSun 2.5s infinite alternate ease-in-out;
}

@media (max-width:425px) {
    .sun {
        animation: none
    }
}

@keyframes floatingSun {
    0% {
        transform: translateX(1px) scale(1);
    }

    50% {
        transform: translateX(2px) scale(1.1);
    }

    100% {
        transform: translateX(1px) scale(1);
    }
}

.cloud {
    animation: floatingCloud 2s infinite alternate ease;
}

@keyframes floatingCloud {
    0% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(5px);
    }
}

/* .inputCity {
    background: #ffffff;
    width: 100%;
} */

/* .currentLocation {
    background: #ffffff;
} */
.currentDataBox {
    /* height: fit-content; */
    box-shadow: 0px 5px 10px rgb(41, 41, 41);
    /* border-radius: 40px; */
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(15px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);    
}

/* weather-details */
.weather-details {
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40vh;
    /* justify-content: space-between; */
}
.upcomingDays {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(77, 69, 69, 0.541);
    /* height: fit-content; */
    padding: 10px;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 1px 1px white;
}

/* ================== */
/* .alertDiv{
    width: 100%;
    height: 100%;
    filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
} */
.alertDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transform: translateX(-50%); */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
}

.alertDivChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.gif{
width: 150px;
height:150px
}
@media (max-width:428px){
    .alertDivChild{
        font-size: small;
    }
    .gif{
        width: 70px;
        height: 70px;
    }
}